:root {
    --size-unit: 8rem;
}

* {
    box-sizing: border-box;
}

html, 
body {
    height:100%;
}

#outer {
    min-height:100%;
}

.aspect-ratio {
    width: calc(var(--size-unit) * 4);
    height: calc(var(--size-unit) * 4.5);
    border-radius: calc(var(--size-unit) * 0.04);
}

.gradient {
    background: linear-gradient(to bottom right, rgba(129,140,248,0.5) 0%, rgba(124,58,237,0.5) 50%, rgba(96,165,250,0.5) 100%);
    border-radius: inherit;
}

.tweet-container {
    border-radius: calc(var(--size-unit) * 0.136363636);
    padding: calc(var(--size-unit) * 0.272727273) calc(var(--size-unit) * 0.363636364);
    box-shadow: rgba(17, 17, 17, 0.12) 0 2px 35px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgb(255, 255, 255, 0.8));
    width: 100%;
    max-width: calc(var(--size-unit) * 3.5);
}

.account-image {
    width: calc(var(--size-unit) * 0.3);
    height: calc(var(--size-unit) * 0.3);
}

.account-name {
    font-size: calc(var(--size-unit) * 0.1);
}

.account-username {
    color: rgb(115, 115, 115);
    font-size: calc(var(--size-unit) * 0.0909090909);
    line-height: 0.875rem;
}

.twitter-icon {
    color: rgb(29, 161, 242);
    width: calc(var(--size-unit) * 0.175);
    height: calc(var(--size-unit) * 0.175);
}

.main-content {
    font-size: calc(var(--size-unit) * 0.111363636);
}
